<div class="banner">
    <div>
        <p class="banner-surtitle light-text">Hi, my name is</p>
        <h1 class="banner-title">beryl</h1>
        <h2 class="banner-subtitle light-text">Fullstack Web Developer</h2>
    </div>
    <div class="button">
        <p class="banner-text light-text">Need a website?</p>
        <a href="#contact" class="button-accent">Contact me</a>
    </div>
</div>

<div class="portfolio" id="portfolio">
    <h2 class="section-title dark-text">Portfolio</h2>
    <div class="portfolio-grid">
        <div class="project-cards">
            
             <%= render 'projects/imparato' %>
             <%= render 'projects/samba' %>
             <%= render 'projects/creations-bois' %>
             <%= render 'projects/atelier409' %>

        </div>
    </div>
</div>

<div class="skills subbanner light-text" id="skills">
    <h2 class="section-title">Skills</h2>
    <div class="skill-group row">
        <div class="skill-section col-sm-12 col-md-3">
            Experienced with
        </div>
        <div class="skill-section col-sm-12 col-md-9">
            <div class="skill-line">
                <div class="skill">
                    <i class="icon devicon-ruby-plain"></i>
                    <span class="skill-text">Ruby</span>
                </div>
                <div class="skill">
                    <i class="icon devicon-rails-plain"></i>
                    <span class="skill-text">Ruby on Rails</span>
                </div>
                <div class="skill">
                    <i class="icon devicon-html5-plain"></i>
                    <span class="skill-text">HTML 5</span>
                </div>
                <div class="skill">
                    <i class="icon devicon-css3-plain"></i>
                    <span class="skill-text">CSS 3</span>
                </div>
                <div class="skill">
                    <i class="icon devicon-sass-original"></i>
                    <span class="skill-text">Sass</span>
                </div>
                <div class="skill">
                    <i class="icon devicon-bootstrap-plain"></i>
                    <span class="skill-text">Bootstrap</span>
                </div>
                <div class="skill">
                    <svg class="icon" width="16px" viewBox="0 0 256 154" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" fill="white" stroke="currentColor">
                        <path d="M128,-1.0658141e-14 C93.8666667,-1.0658141e-14 72.5333333,17.0666667 64,51.2 C76.8,34.1333333 91.7333333,27.7333333 108.8,32 C118.537481,34.4343704 125.497363,41.4985481 133.201067,49.3184 C145.750756,62.0567704 160.275437,76.8 192,76.8 C226.133333,76.8 247.466667,59.7333333 256,25.6 C243.2,42.6666667 228.266667,49.0666667 211.2,44.8 C201.462519,42.3656296 194.502637,35.3014519 186.798933,27.4816 C174.249244,14.7432296 159.724563,-1.0658141e-14 128,-1.0658141e-14 Z M64,76.8 C29.8666667,76.8 8.53333333,93.8666667 0,128 C12.8,110.933333 27.7333333,104.533333 44.8,108.8 C54.5374815,111.23437 61.497363,118.298548 69.2010667,126.1184 C81.7507556,138.85677 96.275437,153.6 128,153.6 C162.133333,153.6 183.466667,136.533333 192,102.4 C179.2,119.466667 164.266667,125.866667 147.2,121.6 C137.462519,119.16563 130.502637,112.101452 122.798933,104.2816 C110.249244,91.5432296 95.724563,76.8 64,76.8 Z"></path>
                    </svg>
                    <span class="skill-text">Tailwind CSS</span>
                </div>
                <div class="skill">
                    <i class="icon devicon-javascript-plain"></i>
                    <span class="skill-text">Javascript</span>
                </div>
                <div class="skill">
                    <svg class="icon" viewBox="0 0 45.116 22.806" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px">
                        <path d="M33.71 0L11.207 22.693l.113.113h22.586l11.21-11.304z" fill="white"/>
                        <path d="M11.405 0l22.578 22.769-.039.037H11.209L0 11.502z" fill="white"/>
                    </svg>
                    <span class="skill-text">Alpine.js</span>
                </div>
            </div>
            <div class="skill-line">
                <div class="skill">
                    <i class="icon devicon-git-plain"></i>
                    <span class="skill-text">Git</span>
                </div>
                <div class="skill">
                    <i class="icon devicon-github-original"></i>
                    <span class="skill-text">Github</span>
                </div>
                <div class="skill">
                    <i class="icon devicon-heroku-plain"></i>
                    <span class="skill-text">Heroku</span>
                </div>
                <div class="skill">
                    <i class="icon devicon-postgresql-plain"></i>
                    <span class="skill-text">PostgreSQL / SQL</span>
                </div>
                <div class="skill">
                    <i class="icon fas fa-database"></i>
                    <span class="skill-text">Active Record</span>
                </div>
                <div class="skill">
                    <i class="icon fab fa-stripe-s"></i>
                    <span class="skill-text">Stripe</span>
                </div>



                <div class="skill">
                    <i class="icon fas fa-window-restore"></i>
                    <span class="skill-text">MVC Architecture</span>
                </div>
                <div class="skill">
                    <i class="icon fas fa-check-square"></i>
                    <span class="skill-text">TDD / Unit tests</span>
                </div>
                <div class="skill">
                    <i class="icon fas fa-file-alt"></i>
                    <span class="skill-text">Building APIs</span>
                </div>


            </div>
            <div class="skill-line">
                <div class="skill">
                    <i class="icon devicon-photoshop-plain"></i>
                    <span class="skill-text">Photoshop</span>
                </div>
                <div class="skill">
                    <i class="icon devicon-illustrator-plain"></i>
                    <span class="skill-text">Illustrator</span>
                </div>
                <div class="skill">
                    <svg class="icon" id="indesign" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 130.746 595.279 580.398">
                        <path d="M24.803 155.549h545.674v530.792H24.803V155.549z" fill="white"/>
                        <path d="M24.803 155.549h545.674v530.792H24.803V155.549zM0 711.145h595.28V130.746H0v580.399zm376.515-339.311c-3.721-1.736-8.682-2.48-14.635-2.48-31.996 0-54.319 24.556-54.319 65.481 0 46.63 22.819 65.48 51.344 65.48 6.2 0 12.649-.744 17.61-2.976V371.834zm-13.147-40.429c5.209 0 8.186 0 13.146.496v-65.977c0-1.736 1.24-2.48 2.479-2.48h40.182c1.984 0 2.48.744 2.48 1.984V497.34c0 6.944 0 15.626 1.24 25.051 0 1.736-.496 1.984-2.232 2.977-21.331 10.169-43.901 14.634-64.984 14.634-54.815 0-94.005-33.98-94.005-103.182-.247-59.281 38.942-105.415 101.694-105.415zM217.774 533.057c0 2.479-.496 3.224-3.225 3.224h-38.197c-2.48 0-3.225-1.24-3.225-3.224V266.668c0-2.48 1.24-3.225 3.225-3.225h38.445c1.984 0 2.977.744 2.977 2.977v266.637z" fill=""/>
                    </svg>
                    <span class="skill-text">In Design</span>
                </div>
                <div class="skill">
                    <i class="icon devicon-figma-plain"></i>
                    <span class="skill-text">Figma</span>
                </div>
            </div>
        </div>
    </div>
    <div class="skill-group row">
        <div class="skill-section col-sm-12 col-md-3">
            A few steps in
        </div>
        <div class="skill-section col-sm-12 col-md-9">
            <div class="skill-line">
                <div class="skill">
                    <i class="icon devicon-php-plain"></i>
                    <span class="skill-text">PHP</span>
                </div>
                <div class="skill">
                    <i class="icon devicon-symfony-original"></i>
                    <span class="skill-text">Symfony</span>
                </div>
                <div class="skill">
                    <i class="icon devicon-doctrine-plain"></i>
                    <span class="skill-text">Doctrine</span>
                </div>
                <div class="skill">
                    <i class="icon devicon-react-original"></i>
                    <span class="skill-text">React</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-me subbanner" id="about-me">
    <h2 class="section-title dark-text">About me</h2>
    <div class="row align-items-center about-me-content">
        <img class="about-me-img col-sm-12 col-md-3 img-fluid" src="https://res.cloudinary.com/df0stqosw/image/upload/c_crop,h_1535,w_1535,x_0/v1622658311/Portfolio/About%20Me/Beryl_m8mxji.jpg" alt="">
        <div class="about-me-text col-sm-12 col-md-9">
            <p>Finding meaning and passion in what I do has always been my one and only way to make choices.</p>
            <p>I spent the first 10 years of my professional life working in the humanitarian sector, as a Logistics and Administration manager. I worked in remote places in Africa, in huge crowded capital cities, or in European headquarters. I travelled a lot (really... a lot), for work and for leisure. From these years, I keep the ability to quickly adapt to any context, culture, or people.</p>
            <p>In 2020, I decided to experience a real switch in my career by becoming a web developer. I dived deep into this new world and found a powerful attraction for coding, learning new things every day, and push my capacities. What drives me today is the intellectual stimulation I can feel while tackling a new challenge, and the satisfaction I get when achieving what I had in mind.</p>
            <p>From database architecture to UI / UX Design, I'm interested in all aspects of a developer's job. I like logic and precision, I am also sensitive to graphics and aesthetics.</p>
            <p>I'm available to take freelance missions and help you build your website. I'm also looking for a full-time job, and I'm hoping I will find a very demanding, intense and intellectually stimulating work environment.</p>
            <p>Let's get in touch !</p>
        </div>
    </div>
</div>

<div class="contact subbanner light-text" id="contact">
    <h2 class="section-title">Contact</h2>
    <div class="contact-section row">
        <div class="contact-details col-sm-12 col-md-3">
            <p>beryl.koller@gmail.com</p>
            <p>+33 6 72 47 51 42</p>
            <p>Marseille region, France</p>
            <div class="contact-links">
                <a href="https://www.linkedin.com/in/berylkoller/" target="blank"><i class="contact-icon devicon-linkedin-plain"></i></a>
                <a href="https://github.com/beryl-koller" target="blank"><i class="contact-icon devicon-github-original"></i></a>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            <%= render 'contacts/new' %>
        </div>
    </div>
       
    </div>
</div>




