<!DOCTYPE html>
<html>
  <head>

    <!-- Primary Meta Tags -->
    <title>Beryl | Fullstack Web Developer</title>
    <meta name="title" content="Beryl | Fullstack Web Developer">
    <meta name="description" content="I'm available to take freelance missions and help you build your website. I'm also looking for a full-time job, and a stimulating work environment.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.beryl-dev.com/">
    <meta property="og:title" content="Beryl | Fullstack Web Developer">
    <meta property="og:description" content="I'm available to take freelance missions and help you build your website. I'm also looking for a full-time job, and a stimulating work environment.">
    <meta property="og:image" content="https://res.cloudinary.com/df0stqosw/image/upload/v1623578983/Portfolio/cover_waxquc.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.beryl-dev.com/">
    <meta property="twitter:title" content="Beryl | Fullstack Web Developer">
    <meta property="twitter:description" content="I'm available to take freelance missions and help you build your website. I'm also looking for a full-time job, and a stimulating work environment.">
    <meta property="twitter:image" content="https://res.cloudinary.com/df0stqosw/image/upload/v1623578983/Portfolio/cover_waxquc.png">
    
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.11.0/devicon.min.css">

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/notice' %>
    <%= yield %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
